/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: 'IBM Plex mono', 'Monaco', monospace;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-header-color: #DB00FF;
  --header-color: #FF0070;
  --border-hover: 1px solid rgba(255, 0, 112, 0.40);
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --main-font-size: 18px;
}
